@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #336aff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #336aff;
}
.sidebar li a:hover {
  background: #a6beff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #336aff;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section {
  position: relative;
  background: #dbe5ff;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .fmatch-form {
  display: block;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.fmatch-form {
  background-color: #336aff;
}

.form-fm {
}
.player {
}
.add-player {
}

.fmatch-form form div {
  padding: 40px;
  text-align: center;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}



/* Index.html */
.container {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.container2 {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.home-but {
  background: linear-gradient(#5E8AFF, #A6BEFF);
  width:400px;
  height: 600px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  color: #ffffff;
  transition-duration:0.5s ;
  margin:20px 0;
}
.home-but p {
  text-align: justify;
  padding: 20px;
}
.container h2 , .container2 h2{
  text-transform: uppercase;
  padding: 10px 0 20px 0;
}

.home-but img {
  width: 350px;
  height: 225px;
  border-radius: 20px;
  transition-duration:0.5s ;
}
.home-but:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.blue-line {
  background-color: #5E8AFF;
  border:#5E8AFF solid 5px ;
  border-radius: 20px;
  width: auto;
  margin: 20px 5% 20px 5%;
}

.home-stream {
  background: linear-gradient(#A6BEFF,#5E8AFF );
  width:400px;
  height: 600px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  color: #ffffff;
  transition-duration:0.5s ;
  margin:20px 0;
}
.home-stream:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.home-stream p{
  text-align: justify;
  padding: 20px;
}
.home-stream img{
  width: 350px;
  height: 225px;
  border-radius: 20px;
  transition-duration:0.5s ;
}

@media screen and (max-width: 900px) {
  .container {
    display: grid;
    justify-content: center;
  }
  .home-but {
    margin:40px 0px ;
  } 
}
.container a, .container2 a {
    text-decoration: none;
  }
<<<<<<< HEAD
/* Index.html  */
=======
/* Index.html */


/*score.php*/
.container3 {
    padding: 20px;
    border-radius: 20px;
}



h1 {
    width: 100%;
    text-align: center;
    color: #336aff;
    font-size: 50px;
}
.container-score {
    background-color: #A6BEFF;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding-bottom: 30px;
}
.container-score h2 {
    font-size: 150px;
    padding: 0 30px ;
}
.E-Rouge {
    border-bottom: #FF0000 solid 20px;
}
.E-Bleu {
    border-bottom: #0000FF solid 20px;
}
.container4 {
    padding: 30px 15% 0 15%;
    background-color: #A6BEFF;
}
.container-mins {
    padding: 20px 20px 18% 20px;
    background-color: #336AFF;
    width: 100%;
    border-radius: 20px 20px 0 0;
    color: #A6BEFF;

}

.container-mins h3 {
    font-size: 100px;
    color: #A6BEFF;
    width: 100%;
    text-align: center;
}
.sm-blue-line {
    background-color: #A6BEFF;
    border:#A6BEFF solid 5px ;
    border-radius: 20px;
    width: auto;
    margin: 20px 5% 20px 5%;
  }
.histo-qmatch {
    font-size:30px;
    text-align: center;
    padding: 5px;
}
.Rumble-timer{
    width: 100%;
}
.Rumble-timer h4{
    font-size: 40px;
    width: 100%;
    text-align: center;
}



/*score.php*/
>>>>>>> 6812ae98f8fc4a76aea5a931de335c5f519d2272
